ceph:
  release: nautilus
  use_upstream_repo: false
  #oscode: OpenSUSE_Fumbleweed

  config:
    file: /etc/ceph/ceph.conf
    global:
      # Set cluster id, use command 'uuidgen' to generate it
      fsid: 0fffffff-35be-40a0-a76e-fff899cb85da
      authentication_type: 'none'

  # Ceph mon list
  mon_hosts:
    - 10.0.1.10
    - 10.0.1.11

  osds:
    # Active OSD device list
    active:
      - /dev/sdc
      - /dev/sdd
      # if you want to specify separate journal device
      - /dev/sdj:/dev/sdb1 # data-path:journal-path
    removed:
      - /dev/sde

  packages:
    - apt-transport-https
